**/.settings/org.eclipse.buildship.core.prefs
*.swp
*/bin/
*/bin/*
*/build/
*/target/
*~
*.iml
.classpath
.DS_Store
.project
.idea/
RELEASE/
/*/.settings/org.eclipse.buildship.core.prefs
/.gradle/
/.vscode/settings.json
build/
